.Noidung {
    background: rgb(122, 121, 121);
    padding-top: 10px;
    height: 100%;

    

    
}

.Noidung img{

   padding: 0;

}

.Anhthanhung{
    float: right;
    width: 400px;
    height: 400px;
    margin-right: 50PX;
}

.Anhquocthien{
   width: 63%;
   height: 400px;
   margin-left: 50px;
}

.P{
    font-size: 50px;
    text-decoration: none;
    list-style: none;
    margin-left: 40px;
}
.Album{
display: flex;
gap: 30px;
    
}
.cont a {
    display: flex;
    padding-top: 98px;
    gap: 20px;
    text-decoration: none;
    list-style: none;
    display: inline-block;
}



.p:hover{
    color: white;   
    
}




.box{
background-color: black;
width: 50%;
height: 400px;
border: 2px solid red;
margin-left: 20px;
margin-right: 20PX;



}
.box2{
background-color: black;
width: 50%;
height: 400px;
border: 2px solid red;
padding-bottom: 10PX;
margin-left: 20px;
margin-right: 20PX;

}
.anh{
    display: flex;
    gap: 50px 40px;
}


