body {
    background: #0f0e0e;
    font-family: Arial, sans-serif;
    color: #fff;
}

.container {
    width: 90%;
    margin: auto;
}

h1 {
    text-align: center;
    margin: 50px 0;
    color: #ff4d4d;
}

.artist-card {
    background: #1c1c1c;
    padding: 35px;
    border-radius: 18px;
    margin-bottom: 50px;
}

.rank {
    font-size: 30px;
    color: gold;
    font-weight: bold;
}

.info {
    color: #ccc;
    margin-top: 12px;
    line-height: 1.6;
    width: 900px;
}

.artist-card ul {
    margin: 15px 0 0 20px;
}

.artist-extra {
    display: flex;
    gap: 20px;
    margin-top: 22px;
    flex-wrap: wrap;
}

.stat {
    background: #2a2a2a;
    padding: 12px 18px;
    border-radius: 12px;
    font-size: 14px;
}

.stat span {
    display: block;
    font-size: 12px;
    color: #aaa;
}

.artist-desc {
    margin-top: 20px;
    color: #bbb;
    line-height: 1.7;
    width: 900px
}

.artist-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
}

.artist-image img {
    width: 320px;
    height:400px;
    object-fit: cover;
    border-radius: 18px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.box {
    width: 260px;
    height: 400px;
    text-align: center;
}

.artist-image:hover {
    transform: translateY(-6px);
}

.box img {
    width: 100%;
    height: 280px;      
    object-fit: cover;  
    border-radius: 14px;
}

audio {
    width: 100%;
    margin-top: 10px;
}
